.drink__card {
  height: 387px;
  width: 250px;
  margin: 25px 0 35px;
}
.fbut__drink {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 20px;
  padding: 12px 12px 12px 12px;
  background-color: rgba(243, 243, 247, 1);
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.sign,
.num {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(115, 121, 140, 1);
}
